{% extends "parent.njk" %}
{% block body1 %}
  <div class="chat">
    <ul id="messages"></ul>
    <form id="chatForm">
      <label for="message" id="uname">{{ uname }}</label>
      <input name="message" id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..."/>
      <button>Send</button>
    </form>
  </div> 
{% endblock %}
{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
  <script src="chatRoomScript.js"></script>
{% endblock %}