{% extends "parent.njk" %}
{% block body1 %}
  <div class="chat">
    <h1>Welcome
      <br><br>to<br><br>
      Bloo Chat!</h1>
    <form action="/chatroom" id="chatForm">
      <input name="uname" id="txt" autocomplete="off" autofocus="on" placeholder="type your nickname here..."/>
      <button>Join</button>
    </form>
  </div>
{% endblock %}